body {
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 150, 140);

}

h1 {
  text-align: center;
}

.container {
  padding-top: 5vmin;
  height: 60vh;
  display: flex;
  justify-content: center;

}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;

}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0 1rem rgb(56, 54, 54);
  font-size: 8vmin;
  color: #b0413e;
}

.o-color{
  color: greenyellow;
}

.winner {
  color: rgb(10, 241, 10) !important;
}

#new-btn{
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#msg {
  color: white;
  font-size: 4vmin;
  text-align: center;
  visibility: off;
}

.msg-container {
  height: 10 vmin;

}
 .hide{
  display: none;
 }

#resetBtn {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}